<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="mainstyles.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    {{> header}}

    <div class="main"> Something main of page
        <div class="main__content"> Some content of page
        </div>
    </div>

    {{> side}}

    <p class='paragraph'>One small paragraph about user : My name is {{ firstName }} and I'm {{
        age }} . I live in {{adress}} and I'm {{skills}} </p>
    <span> {{ hyphenate firstName }}</span>

    <p>Math.floor(-43.87) = {{ floor -43.87}}</p>
    {{> footer}}
    <script src="index.min.js"></script>
</body>

</html>